<h2 class="text-center" style="color: blue">User Register</h2>
<div class="mt-3">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
    <div class="form-group row">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" formControlName="email" aria-describedby="emailHelp" placeholder="abc@gmail.com">
    </div>
    <div *ngIf='email.invalid&&(email.touched||email.dirty)' class="alert alert-danger">
      <div *ngIf='email.errors.required' >
        truong khong duoc de trong
      </div>
      <div *ngIf='email.errors.email' >
        khong dung dinh dang email
      </div>
    </div>
      <div class="form-group row">
        <label for="example-url-fb">PassWord</label>
        <input type="password" class="form-control" id="example-url-fb" name="password" formControlName="password"  aria-describedby="emailHelp" >
        <div *ngIf='password.invalid&&(password.touched||password.dirty)' class="alert alert-danger">
          <div *ngIf='password.errors.required' >
            truong khong duoc de trong
          </div>
          <div *ngIf='password.errors.minlength' >
            mat khau it nhat 6 ki tu
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-url-twt">Confirm Password</label>
        <input type="password" class="form-control" id="example-url-twt" name="confirmPassword" formControlName="confirmPassword" aria-describedby="emailHelp" >
        <div *ngIf='confirmPassword.invalid&&(confirmPassword.touched||confirmPassword.dirty)' class="alert alert-danger">
          <div *ngIf='confirmPassword.errors.required' >
            truong khong duoc de trong
          </div>
          <div *ngIf='confirmPassword.errors.minlength' >
            mat khau it nhat 6 ki tu
          </div>
        </div>
        <div *ngIf="registerForm.hasError('notSame')" class="alert alert-danger">
          Passwords do not match
        </div>
      </div>
    <div class="form-group row">
      <label class="col">
        Country
        <select formControlName="country" class="form-control" size="">
          <option value="">Chọn</option>
          <option value="vn">Việt Nam</option>
          <option value="us">US</option>
        </select>
      </label>
    </div>
    <div class="form-group row">
      <div class="col">
        Gender
        <label><input type="radio" formControlName="gender" value="male">Male</label>
        <label><input type="radio" formControlName="gender" value="female">Female</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col">
        Phone
        <input type="tel" class="form-control" formControlName="phone" placeholder="+841234567890">
        <div *ngIf='phone.invalid&&(phone.touched||phone.dirty)' class="alert alert-danger">
          <div *ngIf='phone.errors.required' >
            truong khong duoc de trong
          </div>
          <div *ngIf='phone.errors.pattern' >
            chua dung dinh dang dien thoai
          </div>
        </div>
      </label>
    </div>
    <!--      <div class="alert alert-danger" role="alert" *ngIf="registerForm.hasError('passwordnotmatch',['pwGroup']) && registerForm.get('pwGroup').touched">Password does not match!</div>-->
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
  </form>
</div>
<pre>{{registerForm.value| json}}</pre>
<!--<pre>{{profile | json}}</pre>-->
